[submodule "src/lib/plutosvg"]
	path = src/lib/plutosvg
	url = https://github.com/sammycage/plutosvg.git
[submodule "src/lib/detours"]
	path = src/lib/detours
	url = https://github.com/microsoft/Detours.git
[submodule "SetFolderType-main"]
	path = SetFolderType-main
	url = https://github.com/LesFerch/SetFolderType.git
	branch = main
[submodule "WinSetView-main"]
	path = WinSetView-main
	url = https://github.com/LesFerch/WinSetView.git
	branch = main
